.square {
	height: 300px;
	width: 300px;
	background: red;
	margin: 50px;
}

#circle {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	background: green;
	margin: 50px;
}

.yellow-bg {
	background: yellow;
}
